@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

/* COLORS 
treact #6415ff;
h1 #1A202C;
text #243E63
button text #F7FAFC 
hover #5011CC 
p #a0aec0 
email #E2E8F0*/

.root {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: auto;
  display: block;
}

.container {
  padding: 80px 0;
}

.purple {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  color: #1a202c;
}

h2 {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  margin-inline-end: auto;
}

h3 {
  font-size: 16px;
}

h2:hover {
  color: #6415ff;
}

li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

input {
  font-size: 100%;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}

.sub-header {
  font-weight: 700;
  text-transform: uppercase;
}

/* NAVIGATION*/

.treat__logo {
  width: 40px;
  margin: 0 12px 0 0;
}

.nav__link {
  color: #243e63;
  text-decoration: none;
  margin: 0 24px;
  padding: 0 0 4px;
}

.nav__link:hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
}

.login {
  margin: 0 24px 0 48px;
}

.btn1 {
  border: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 600;
  color: #f7fafc;
  background: #6415ff;
  padding: 12px 32px;
}

.btn1:hover {
  background-color: #5011cc;
}

/* LANDING PAGE  */

.landing__p1 {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
}

.landing__pages {
  position: relative;
  display: flex;
  max-width: 1200px;
  padding: 96px 0px;
}

.landing__pageL {
  width: 40%;
}

.landing__pageR {
  width: 60%;
}

.landing__bottom {
  margin: 80px 0;
}

.landing__p2 {
  text-transform: uppercase;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.landing__customers {
  width: 100%;
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  opacity: 0.5;
}

.landing__img {
  width: 100%;
}

.btn2 {
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin: 8px 8px 8px 0;
  width: 160px;
  padding: 16px 0;
  border-radius: 50px;
  color: #f7fafc;
  background: #6415ff;
  cursor: pointer;
}

.btn2:hover {
  background-color: #5011cc;
}
.email {
  position: relative;
  max-width: 448px;
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  min-width: 332px;
  border: 2px solid #e2e8f0;
  border-radius: 50px;
}

.email:hover {
  border: 2px solid #a0aec0;
  border-radius: 50px;
  transition: 300ms;
  stroke-opacity: 1;
}

.email__input {
  border-style: none;
  padding: 20px 0px 20px 32px;
  border-radius: 50px;
  opacity: 0.5;
}

/* FEATURES */
.black {
  color: black;
}
.container {
  padding: 96px;
  text-align: center;
}

.features {
  text-align: center;
}

.sub__header {
  font-weight: 900;
}

.title {
  text-transform: uppercase;
  margin: 0 0 16px;
}

.features__p {
  width: 100%;
  max-width: 576px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 26px;
  margin: 16px 0 0;
  margin-left: auto;
  margin-right: auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
}
/* QUALITY WORK  */

/* STEPS */

/* VALUES */

/* PRICING  */

/* TESTIMONIALS  */
